[color]
    show=auto
    diff=auto
    status=auto
[user]
    email = rdubtsov@nvidia.com
    name = Roman Dubtsov
[alias]
    am = am -k
    tree = log --graph --all --oneline --decorate --abbrev-commit
    tree1 = log --all --decorate --color --graph --pretty=format:'%Cred%h%Creset -%C(bold yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    wtree = log --graph --all --decorate --color=auto --format=\"%C(yellow)%h%C(green bold)%d%C(reset) %cn %cd %s\"
    slog = log --stat
    branchname = rev-parse --abbrev-ref HEAD
[log]
    decorate = 1
[core]
    whitespace = cr-at-eol
    excludesfile = ~/.gitignore-global
    fileMode = false
[am]
    keepcr = 1
[format]
    subjectprefix =
[url "https://"]
    insteadOf = git://
[pull]
    rebase = true
[diff]
    algorithm = histogram
    wsErrorHighlight = all
[help]
    autocorrect = 10
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color "branch"]
[color "diff"]
	whitespace = red reverse
[pager]
	status = true
[diff "lfs"]
	textconv = cat
